<div class="w-100 h-100 d-flex" style="position: relative;">
    <div #diagramBaseCompareRef class="{{ baseCompareEnabled?'visible':'hide' }} w-50 h-100 split-bar-right" style="position: relative;">
        <div class="btn-group btn-group-01" role="group">
            <button mat-raised-button color="primary" (click)="doLoadBase()" title="load base file"><mat-icon>folder</mat-icon></button>
        </div>
        <div class="btn-group btn-group-02" role="group">
            <button mat-raised-button color="primary" (click)="doZoomFitBaseContent()"><mat-icon>aspect_ratio</mat-icon></button>
        </div>
    </div>
    <div #diagramRef class="{{ baseCompareEnabled?'w-50':'w-100' }} h-100" style="position: relative;">
        <div #propPanelRef class="propPanel {{ baseCompareEnabled?'hide':'visible' }}"></div>
        <div class="btn-group btn-group-01" role="group">
            <button mat-raised-button color="primary" (click)="doResetToBlank()" title="create new"><mat-icon>note_add</mat-icon></button>
            <button mat-raised-button color="primary" (click)="doLoad()" title="load existing file"><mat-icon>folder_open</mat-icon></button>
            <div class="px-1"></div>
            <button mat-raised-button color="primary" (click)="doSaveToServer()" title="save to cloud"><mat-icon>cloud_upload</mat-icon></button>
            <button mat-raised-button color="primary" (click)="doSaveAsFile()" title="save to local"><mat-icon>cloud_download</mat-icon></button>
            <div class="px-1"></div>
            <button mat-raised-button color="primary" (click)="doToggleCompareBase()" title="toggle compare mode"><mat-icon>compare</mat-icon></button>
        </div>
        
        <div class="btn-group btn-group-02" role="group">
            <button mat-raised-button color="primary" (click)="doZoomFitContent()"><mat-icon>aspect_ratio</mat-icon></button>
            <!-- <div class="px-1"></div>
            <button mat-raised-button color="primary" (click)="doZoomIn()"><mat-icon>zoom_in</mat-icon></button>
            <button mat-raised-button color="primary" (click)="doZoomOut()"><mat-icon>zoom_out</mat-icon></button> -->
        </div>
    </div>
    <div class="top-center w-50 px-3 pb-1 text-center panel {{ baseCompareEnabled?'visible':'hide' }}">
        <div class="w-100 mx-2 mb-2 changed-items-container {{ showListOfChangedElements?'visible':'hide' }}">
            <table>
                <tr>
                    <td>change type</td><td>model.bpmnElement.id</td><td>data</td>
                </tr>
                <ng-container *ngFor="let changeEntity of bpmnChanges | keyvalue">
                    <ng-container *ngFor="let modelElement of changeEntity.value | keyvalue">
                        <!-- model.bpmnElement.id -->
                        <tr>
                            <td>{{ changeEntity.key }}</td>
                            <td>{{ modelElement.key }}</td>
                            <td>{{ modelElement.value | json }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </table>
            sample items 
        </div>
        <a href="#" (click)="doToggleListOfChangedElements()">list of changed elements</a> 
    </div>
</div>

<input [(ngModel)]="filename" (blur)="validateFileName()" type="text"><button (click)="doSaveAsFile()">save</button>
<input [(ngModel)]="searchText" type="text"><button (click)="doSearch()">search</button>